.elements__button-like {
  background-image: url(/src/images/likeDisabled.svg);
  background-color: #fff;
  max-width: 22px;
  width: 100%;
  max-height: 19px;
  border: 0;
  margin: 5px 0 0 0;
  padding: 0;
  transition-duration: .3s;
}

.elements__button-like:hover {
  opacity: .5;
  cursor: pointer;
}

.elements__button-like:active {
  opacity: 100;
  background-image: url(/src/images/likeAktive.svg);
}
