.popup-cards__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 44px;
  }
  
  @media screen and (max-width: 982px){
    .popup-cards__form {
      margin-top: 75px;
    }
  }